@import 'variables';

.card {
  background: $card-background;
  border-radius: 10px;
  min-height: 428px;
  display: flex;
  flex-direction: column;
  .header-card {
    background: $card-header-background;
    border-radius: 10px 10px 0 0;
    height: 119px;
    h4 {
      color: $text-basic;
      font-size: $font-30;
      font-weight: $font-bold;
    }
  }
  .content {
    .content-card {
      height: 200px;
      h2 {
        font-size: $font-64;
        font-weight: $font-medium;
      }
    }
    .footer-card {
      border-top: 0.5px solid $color-line;
      height: 110px;
      display: flex;
      .variation {
        width: 50%;
        border-right: 0.5px solid $color-line;
        flex-direction: column;
      }
      .hour-update {
        width: 50%;
        flex-direction: column;
      }

      .title-footer {
        color: $text-secondary;
        font-weight: $font-semibold;
        font-size: $font-18;
        margin: 0;
        line-height: 27px;
      }
      .value-footer {
        color: $text-basic;
        font-weight: $font-semibold;
        font-size: $font-24;
        margin: 0;
        line-height: 36px;
      }
    }
  }
  .loader {
    flex-grow: 1;
    height: 100%;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .error {
    flex-grow: 1;
    flex-direction: column;
    .title-error {
      font-weight: $font-regular;
      color: $text-basic;
      font-size: $font-26;
      line-height: 39px;
      margin: 0 0 10px;
    }
    .button-reload {
      background: $button-background;
      border: none;
      border-radius: 10px;
      height: 58px;
      width: 173px;
      color: $text-basic;
      font-size: $font-18;
      font-weight: $font-semibold;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        background: $button-background-hover;
      }
    }
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    margin: 16px 0;
  }
}

@media screen and (min-width: 481px) {
  .card {
    width: 420px;
    margin: 16px 15px;
  }
}
