$white: #FFFFFF;

$app-background: #EEEEEE;
$app-header-background: $white;
$card-header-background: #F6F6F6;
$card-background: $white;
$button-background: #F4F4F4;
$button-background-hover: darken($button-background, 3%);

$color-line: #CCCCCC;

$text-basic: #717171;
$text-secondary: #919191;
$text-green: #3C7649;
$text-blue: #3684CB;
$text-red: #DD4B4B;

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$font-18: 18px;
$font-24: 24px;
$font-26: 26px;
$font-30: 30px;
$font-64: 64px;

$font-title-card: $font-30;
$font-currency: $font-64;
$font-title-variation: $font-18;
$font-value-variation: $font-24;
$font-error: $font-26;
$font-recharge: $font-18;
