@import 'variables';

.container {
  header {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background: $app-header-background;
    z-index: 1;
  }
  .content {
    position: absolute;
    top: 100px;
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (min-height: 580px) and (min-width: 1470px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 140px);
  }
}
